/* Nuevo estilo para el contenedor de contenido */
.acerca-contenido {
  max-width: 500px; /* Ajusta este valor para el ancho que desees */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px;
}

.info-contacto-acerca {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.icon {
  width: 30px;
  height: 30px;
}